* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

.video_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video_section video {
  width: 100%;
  height: auto;
}
.video_section .header_section {
  border: 1px solid red;
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
#header.fixed {
  background-color: rgb(240, 238, 159);
  position: fixed;
  animation-name: fixed;
  animation-duration: 0.5s;
  transition: all 0.3s ease;
  z-index: 999;
}
@keyframes fixed {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
.video_section .header_section header nav {
  display: flex;
  margin-top: 15px;
}

.video_section .header_section header img {
  max-width: 100%;
  height: 19px;
  margin-top: 1px;
  z-index: 1;
  cursor: pointer;
}

.video_section .header_section header nav ul {
  display: flex;
  width: 97%;
  justify-content: space-between;
  padding: 0px 40px 0px 157px;
}

.header_section ul li {
  list-style-type: none;
}

.content_section {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  color: white;
}

.content_section .main_content {
  margin-left: 50px;
  width: 60%;
}
.content_section .main_content h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
.content_section .main_content p {
  font-size: 1.5rem;
}
.content_section .social_links ul li {
  list-style-type: none;
  width: 55px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.content_section .social_links .facebook_icon {
  background-color: rgb(95, 95, 243);
}
.content_section .social_links .instagram_icon {
  background-color: rgb(255, 116, 139);
}
.content_section .social_links .twitter_icon {
  background-color: skyblue;
}
.content_section .social_links .linkedin_icon {
  background-color: rgb(7, 7, 161);
}
.content_section .social_links .whatsapp_icon {
  background-color: rgb(15, 235, 15);
}
.content_section .social_links .pinterest_icon {
  background-color: rgb(235, 42, 42);
}

@media (min-width: 923px) and (max-width: 1180px) {
  .video_section {
    height: auto;
  }
  .content_section {
    top: 70px;
    height: auto;
  }
}

@media (min-width: 629px) and (max-width: 922px) {
  .video_section {
    height: auto;
  }
  .content_section {
    top: 120px;
    height: auto;
    flex-direction: column;
  }
  .content_section .main_content h1 {
    font-size: 2rem;
  }
  .content_section .main_content p {
    font-size: 1rem;
  }
  .content_section .social_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_section .social_links ul li {
    height: 56px;
  }
}
@media (min-width: 475px) and (max-width: 628px) {
  .video_section {
    height: auto;
  }
  .video_section .header_section header {
    position: absolute;
    right: 0px;
  }
  .video_section .header_section header nav ul {
    display: none;
  }
  .content_section {
    top: 75px;
    height: auto;
    flex-direction: column;
  }
  .content_section .main_content h1 {
    font-size: 1.5rem;
  }
  .content_section .main_content p {
    display: none;
  }
  .content_section .social_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_section .social_links ul li {
    height: 45px;
    width: 45px;
  }
}
@media (max-width: 474px) {
  .video_section {
    height: auto;
  }
  .body {
    min-width: 320px !important;
    overflow: visible !important;
  }
  .video_section .header_section header {
    position: absolute;
    right: 0px;
  }
  .video_section .header_section header nav ul {
    display: none;
  }
  .content_section {
    top: 45px;
    height: auto;
    flex-direction: column;
  }
  .content_section .main_content h1 {
    font-size: 1.5rem;
  }
  .content_section .main_content p {
    display: none;
  }
  .content_section .social_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_section .social_links ul li {
    height: 40px;
    width: 40px;
    font-size: 1rem;
  }
}

#responsive_navigation_section_id.open {
  display: grid;
  /* opacity: 1; */
}
.responsive_navigation_section {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: none;
  align-items: start;
  color: aqua;
  background-color: rgb(255, 145, 0);
  /* opacity: 0; */
  top: 0px;
  left: 0px;
}

.responsive_navigation_section .logo_name {
  display: flex;
  width: 100%;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px 20px 0px; */
}
.responsive_navigation_section .responsive_navigation_cross_icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.responsive_navigation_section .responsive_navigation_cross_icon span {
  background-color: white;
  color: #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 120px;
  padding-left: 30px;
  margin-right: -45px;
  position: fixed;
  left: inherit;
  top: -34px;
}
.responsive_navigation_section .responsive_navigation_cross_icon span i {
  cursor: pointer;
}
.responsive_navigation_section .responsive_navigation {
  width: 100%;
  text-align: center;
}
.responsive_navigation_section .responsive_navigation span {
  display: inline-block;
  width: 250px;
  height: 45px;
  padding: 8px 0px 0px 8px;
  background-color: white;
  color: #000;
  text-align: start;
  margin: 10px;
}
.responsive_navigation_section .responsive_social_links ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.responsive_navigation_section .responsive_social_links ul li {
  list-style-type: none;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin: 10px;
}
.responsive_navigation_section .responsive_social_links ul li i {
  color: white;
}
@media (max-width: 460px) {
  .responsive_navigation_section .responsive_social_links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Our Services Gallery */

.gallery_section {
  margin: 40px 0px 40px 0px;
  width: 100%;
}
.gallery_section .gallery_heading {
  text-align: center;
  margin-bottom: 25px;
}
.gallery_section .gallery_categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 52px;
  background-color: #fafafa;
  margin-bottom: 25px;
}
.gallery_section .gallery_categories p {
  margin-bottom: 0px;
  cursor: pointer;
}
.gallery_section .gallery_categories p:hover {
  background-color: tomato;
  padding: 5px;
  transition: all 0.5s linear;
}
.gallery_section .service_images_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery_section .service_images_section .service_images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.gallery_section .service_images_section .image_position {
  position: relative;
}
.gallery_section .service_images_section .image_position .image_hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 246.44px;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.gallery_section .service_images_section .image_position:hover .image_hover {
  opacity: 1;
  cursor: pointer;
}

.gallery_section
  .service_images_section
  .service_images
  .image_hover
  .fa-arrow-circle-right {
  font-size: 2rem;
  float: right;
  color: #fafafa;
}
.gallery_section .service_images_section .service_images .click_me {
  background-color: white;
  color: #000;
  display: inline-block;
}

.gallery_section .logo_images {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  transition: display 3s ease;
}
.gallery_section .cosmetic_images {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
.gallery_section .makeup_images {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
/* 
@media (min-width: 426px) and (max-width: 992px) {
  .gallery_section .service_images {
    width: 100%;
  }
  .gallery_section img {
    width: 100%;
  }
} */

@media (max-width: 425px) {
  .gallery_section .gallery_categories {
    flex-direction: column;
    padding: 15px;
  }
  .gallery_section img {
    width: 100%;
  }
  .gallery_section .service_images {
    width: 100% !important;
  }
  #responsive_navigation_section {
    /* display: grid; */
    min-height: 100vh !important;
    /* opacity: 1; */
  }
}

/* .popup_image_main_div {
  display: block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: block;
} */

#popup_image_id_1 {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 1;
  display: none;
}
#popup_image_id_1 .popup_close {
  color: #ffffff;
  text-align: center;
  padding: 48px;
}
#popup_image_id_1 .popup_close span {
  border: 3px solid #fafafa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 41px;
  text-align: center;
}

#popup_image_id_1 .popup_close span i {
  cursor: pointer;
}
#popup_image_id_1 .popup_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#popup_image_id_1 .popup_image .fa-arrow-circle-left {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#popup_image_id_1 .popup_image .fa-arrow-circle-right {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}
#popUpImageFullScreen {
  min-height: 300px;
  max-height: 500px;
}

.service_images_section .service_images .image_position {
  width: 33.33%;
  height: auto;
}

@media (min-width: 525px) and (max-width: 992px) {
  .gallery_section .service_images {
    width: 100%;
  }
  .gallery_section .service_images_section .image_position {
    width: 50%;
  }
}
@media (max-width: 524px) {
  .gallery_section .service_images_section .image_position {
    width: 100%;
  }
}
